.patch {
	height: 950px;
}

.price_tab {
	position: absolute;
	left: 40%;
	
	width: 50%;
	height: 2000px;
}

.price_tab h1{
	font-family: 'ligurino1';
	font-size: 30px;
	color: black;
	padding-bottom: 5px;
}

.warning {
	font-family: 'ligurino1';
	font-size: 20px;
	color: black;
	border-left: 3px solid #33CCCC;
	padding-left: 5px;
}

.table_price_container {
	position: absolute;
	padding-top: 55px;

	width: 100%
}

.table_price {
	width: 100%;
	margin-bottom: 20px;

	border: 15px solid #98f1f1;
	border-top: 5px solid #98f1f1;
	border-collapse: collapse; 

	font-family: 'ligurino1';
	font-weight: bold;

	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.table_price th {
	font-weight: bold;
	padding: 5px;
	font-size: 18px;

	border: none;
	border-bottom: 5px solid #98f1f1;

}
.table_price td {
	padding: 5px;
	border: none;
	border-bottom: 5px solid #98f1f1;
}

.table_title {
	background-color: #33CCCC;
}