.path {
	position: absolute;
	z-index: 101;

	width: 100%;
	height: 25px;
}

.path h3 {
	padding: 30px 110px;

	font-family: 'ligurino1';
}

.path a {
	z-index: 101;

	color: #33CCCC;
	cursor: pointer;
}